<h1>Teams</h1>


<div class="teams">
    {{#if isAdmin}}
    {{!-- ADMIN PART --}}
    <h3>Manage Users</h3>
    <div class="form">
        {{#if teams}}
        <form method="POST">
            <label>User</label>
            <select name="user">
                {{#each users}}
                <option value="{{_id}}">{{username}}</option>
                {{/each}}
            </select>
            <label>Team</label>
            <select name="team">
                {{#each teams}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Distribute">
        </form>
        {{else}}
        <p>You must create a team first!</p>
        {{/if}}
    </div>

    {{else}}
    {{!-- USER PART --}}
    <form class="search" action="/search/team">
        <label>Seach: </label>
        <input name="needle" type="text">
        <input type="submit" value="Search">
    </form>
    <div class="teams">
        <div class="team">
            {{#if teams}}
            {{#each teams}}
            <h2>{{name}}</h2>
            <div class="team-info">
                <h3>Members</h3>
                {{#if members}}
                {{#each members}}
                <p>{{this.username}}</p>
                {{/each}}
                {{else}}
                <p>Team {{name}} has no members</p>
                {{/if}}
            </div>
            <div class="team-info">
                <h3>Projects</h3>
                {{#if projects}}
                {{#each projects}}
                <p>{{this.name}}</p>
                {{/each}}
                {{else}}
                <p>Team has no projects</p>
                {{/if}}
            </div>
            {{/each}}
            {{else}}
            <h3>No Teams in Database</h3>
            {{/if}}
        </div>
        {{/if}}
    </div>
</div>